%h3= "Chart for period #{@from.to_s} - #{@to.to_s}"
#container{:style=>"width: 100%;height: 650px;"}
:javascript
  $(function(){
    chart([{name: 'Price', data: #{@prices.first(62000)}, type: 'line'}, {name: 'Value', data: #{@values.first(62000)}, type: 'line', yAxis: 1}], #{@prices.min}, #{@prices.max});
  });